useDynLib(SAMEclustering, .registration=TRUE)
exportPattern("^[[:alpha:]]+")
export(individual_clustering)
export(SAMEclustering)
importFrom(Rcpp, evalCpp)
import(Seurat)
importFrom(ADPclust,adpclust)
importFrom(Rtsne,Rtsne)
importFrom(S4Vectors,"metadata<-")
importFrom(S4Vectors,metadata)
importFrom(S4Vectors,var)
importFrom(SC3,sc3)
importFrom(SC3,sc3_estimate_k)
importFrom(SC3,sc3_run_svm)
importFrom(SIMLR,SIMLR)
importFrom(SIMLR,SIMLR_Estimate_Number_of_Clusters)
importFrom(SIMLR,SIMLR_Large_Scale)
importFrom(SingleCellExperiment,"logcounts<-")
importFrom(SingleCellExperiment,"normcounts<-")
importFrom(SingleCellExperiment,SingleCellExperiment)
importFrom(SingleCellExperiment,logcounts)
importFrom(SingleCellExperiment,normcounts)
importFrom(SummarizedExperiment,"colData<-")
importFrom(SummarizedExperiment,"rowData<-")
importFrom(SummarizedExperiment,assayNames)
importFrom(SummarizedExperiment,colData)
importFrom(SummarizedExperiment,rowData)
importFrom(cidr,adjustedRandIndex)
importFrom(cidr,determineDropoutCandidates)
importFrom(cidr,nPC)
importFrom(cidr,scCluster)
importFrom(cidr,scDataConstructor)
importFrom(cidr,scDissim)
importFrom(cidr,scPCA)
importFrom(cidr,wThreshold)
importFrom(doParallel,registerDoParallel)
importFrom(doRNG,"%dorng%")
importFrom(e1071,svm)
importFrom(foreach,"%dopar%")
importFrom(foreach,foreach)
importFrom(methods,.hasSlot)
importFrom(parallel,detectCores)
importFrom(parallel,makeCluster)
importFrom(parallel,stopCluster)
importFrom(stats,kmeans)
